			
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Covered+By+Your+Grace&family=Montserrat:ital,wght@1,900&display=swap');


.body {
		font-family: 'Covered By Your Grace', cursive;
		position: relative;
}				

.scroll {
		font-family: 'Montserrat';
		text-align: center;
		position:relative;
}
.allbtn {		
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		}

		
.btnsno	{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr ;
		gap:2em;
		margin-left: 1em;
		margin-right: 1em;
		z-index: 4444;
		margin-top: 0em;
		opacity:;
		}
		
.btnsno button	{
				font-family: 'Bangers';
				display: inline-block;
				font-size: 3em;
				padding: 1em 2em;
				
				-webkit-appearance: none;
				appearance: none;
				background-color: #911111;
				color: #fff;
				border-radius: 100px;
				border: none;
				position: center;
				transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
				box-shadow: 0 2px 25px #911111;	
				}
				
.btnsno button:hover 	{
						background: #960e0e;
						color: white;
						}
				
.btns	{
		display: flex;
		justify-content:center;
		align-items: center;
		gap: 2em;				
		}

#btnn 	{
		font-family: 'Bangers';
		display: inline-block;
		font-size: 3em;
		padding: 1em 2em;
		margin-top: 100px;
		margin-bottom: 60px;
		-webkit-appearance: none;
		appearance: none;
		background-color: #911111;
		color: #fff;
		border-radius: 100px;
		border: none;
		cursor: pointer;
		position: relative;
		transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
		box-shadow: 0 2px 25px #911111;	
		}


.bubbly-button {
  font-family: 'Bangers';
  display: inline-block;
  font-size: 3em;
padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #1eba20;
  color: #fff;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px #1eba20;
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: relative;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #1eba20 20%, transparent 20%), radial-gradient(circle, transparent 20%, #1eba20 20%, transparent 30%), radial-gradient(circle, #1eba20 20%, transparent 20%), radial-gradient(circle, #1eba20 20%, transparent 20%), radial-gradient(circle, transparent 10%, #1eba20 15%, transparent 20%), radial-gradient(circle, #1eba20 20%, transparent 20%), radial-gradient(circle, #1eba20 20%, transparent 20%), radial-gradient(circle, #1eba20 20%, transparent 20%), radial-gradient(circle, #1eba20 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #1eba20 20%, transparent 20%), radial-gradient(circle, #1eba20 20%, transparent 20%), radial-gradient(circle, transparent 10%, #1eba20 15%, transparent 20%), radial-gradient(circle, #1eba20 20%, transparent 20%), radial-gradient(circle, #1eba20 20%, transparent 20%), radial-gradient(circle, #1eba20 20%, transparent 20%), radial-gradient(circle, #1eba20 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #10c713;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 1s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.ask{
				
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				border-radius: 5px;
				z-index: 5555555;
				padding-top: 1em;
				padding-bottom: 1em;
				text-align: center;
				margin-top: em;
				position: relative;											
										
}

.crush{
				font-size: 70px;
				margin-bottom: 2em;
				color: red;
				font-family: 'Bangers', cursive;
}
.crush1{
				font-size: 40px;
				color: red;
				font-family: 'Covered By Your Grace', cursive;
}


/*BUTTONS OPACITY*/

#btt1{
				opacity: 0;
}
#btt2{
				opacity: 0;
}
#btt3{
				opacity: 0;
}
#btt4{
				opacity: 0;
}
#btt5{
				opacity: 0;
}
#btt6{
				opacity: 0;
}
#btt7{
				opacity: 0;
}
#btt8{
				opacity: 0;
}
#btt9{
				opacity: 0;
}
#btt10{
				opacity: 0;
}
#btt11{
				opacity: 0;
}
#btt12{
				opacity: 0;
}

       /*BUTTONS2 OPACITY*/
#bbtt1{
				opacity: 0;
}
#bbtt2{
				opacity: 0;
}
#bbtt3{
				opacity: 0;
}
#bbtt4{
				opacity: 0;
}
#bbtt5{
				opacity: 0;
}
#bbtt6{
				opacity: 0;
}
#bbtt7{
				opacity: 0;
}
#bbtt8{
				opacity: 0;
}
#bbtt9{
				opacity: 0;
}
#bbtt10{
				opacity: 0;
}
#bbtt11{
				opacity: 0;
}
#bbtt12{
				opacity: 0;
}





